.container {
    position: relative;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 16px;
}

body {
    font-family: sans-serif;
    background-color: black;
}

h1,
h2 {
    -webkit-text-stroke: 1.5px black;
}

a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

a:visited {
    text-decoration: none;
    color: white;
}

#home-link {
    padding-right: 400px;
}

#plan-link {
    padding-left: 400px;
}

#home-link,
#plan-link,
#explore-link {
    -webkit-text-stroke: 1.5px black;
}

h1 {
    font-size: 60px;
}

#subheader-homepage {
    font-size: 20px;
    padding-right: 350px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 50px;
}

#subheader-homepage2 {
    font-size: 25px;
}

#broadway-header,
#hotel-header {
    padding-right: 550px;
}

#bridge-header {
    padding-right: 870px;
}

#memorial-header {
    padding-right: 820px;
}

#brooklyn-subheader {
    padding-right: 1160px;
}

#memorial-subheader {
    padding-right: 100px;
}

#manhattan-subheader {
    padding-right: 1040px;
}

#yankees-header {
    padding-right: 320px;
}

#bronx-subheader {
    padding-right: 630px;
}

#rockaway-header {
    padding-right: 550px;
}

#queens-subheader {
    padding-right: 880px;
}



#ferry-bio,
#staten-heading,
#staten-subheading,
#schedule-header,
#stay-header,
#stay-subheader {
    text-align: left;
}

button {
    padding: 10px;
    margin-right: 720px;
}

#hotel-header {
    padding-right: 650px;
}

#hotel-desc {
    padding-right: 50px;
}

#broadway-photo,
#subway-seats {
    filter: brightness(65%);
}

#more-button {
    background-color: black;
}

#subway-seats,
#broadway-photo,
#hotel-photo,
#platform-photo,
#hotel2,
#skyline-photo,
#bridge-photo,
#memorial-photo,
#yankees-photo,
#rockaway-photo,
#staten-photo,
#airport {
    width: 100%;
}


.tickets {
    display: flex;
    justify-content: space-around;
}

#explore-subheader {
    padding-top: 150px;
    font-size: 25px;
}

#plan-subheader {
    padding-top: 100px;
    font-size: 25px;
}

.skip {
    background-color: #ffa500;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: -999px;
}

.skip:focus {
    left: 10px;
}